.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.logo-container {
  position: absolute;
  left: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

.title {
  font-size: 32px;
  color: rgb(253, 253, 253);
  text-align: center;
  margin: 0;
}
